html,
body,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

.ReactVirtualized__Grid {
  overflow-x: hidden !important;
}
